{% extends 'base.html' %}
{% block content %}

<h1>Nesting Material Details</h1>

<div class="row">
    <div class="col s6 col-offset-3">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ nestingmaterial.name }}</span>
                <p>Color: {{ nestingmaterial.color }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'nestingmaterials_update' nestingmaterial.id %}">Edit</a>
                <a href="{% url 'nestingmaterials_delete' nestingmaterial.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}