{% extends 'base.html' %}
{% block content %}

<h1>{{ bird.species }}</h1>

<div class="row">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img src="{{ bird.image }}" >
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ bird.species }}</span>
                <p>Location: {{ bird.location }}</p>
                <p>Habitat: {{ bird.habitat }}</p>
                <p>{{bird.description}}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'bird_update' bird.id %}">Edit</a>
                <a href="{% url 'bird_delete' bird.id %}">Delete</a>
            </div>
        </div>
        <a href="{% url 'index' %}"> &#8592 Back to All Birds</a>

    
    

</div>

{% endblock %}